body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #f5f5f5; 
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #008cba; 
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #006b8f;
}

h1 {
    text-align: center;
    color: #ffffff; 
    margin-bottom: 20px;
    font-size: 32px; 
}

.resume-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #005f7f;
    border-radius: 6px;
    background-color:  #009cd0;
}

.resume-section h2,h3 {
    color: #fffcfc; 
    font-size: 24px;
}

.resume-section p {
    color: #ffffff; 
    margin: 5px 0;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff; 
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    height: 50px; 
}

button {
    padding: 10px 20px;
    background-color: #004cb7; 
    color: #ffffff; 
   
}